body {   background-image:url(../Recourses/обои.jpg);width: 99%;height: 900px;min-width: 800px;margin: 0px;padding: 0px;
    color: white;font-size:22px}
div{margin: 0px;padding: 0px}
a{color: white}
